.header#home
  - if current_user
    Logged in as #{current_user.email}.
    \#{link_to "Log out", logout_path,:format=>:json, :class=>'back'}
  - else   
    = link_to "Log in", login_path,:class=>'whiteButton',:id=>'login'
    = link_to "Sign up", signup_path, :class=>'whiteButton', :id=>'sign_up'
