%section
  %header.toolbar
    %p welcom to Schatter
  %section    
    %ul.edit.round
      %li= link_to "signup", signup_path, :class=>'whiteButton', :id=>'signup'
      %li= link_to "signup", signup_path, :class=>'whiteButton', :id=>'signup'
      %li= link_to "signup", signup_path, :class=>'whiteButton', :id=>'signup'
    
