  	<div id='table'>
  		<div id='book'>
  			<div class='cover front'></div>
  			<div class="page">  
root
</div>
  			<div class='cover back'></div>
  		</div>
  	</div>
<%=link_to 'secret', :action=>:secret -%>
