%section#table
  #book
    .page
      .left.side.side#page_2
      .left.side.side#page_1 "Stories of Yinoch"
    .page
      .left.side.front.inside.flipped#front_page_inside
      .right.side.cover.front#front_page_cover 
    = link_to 'secret', :action=>:secret
