/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require_tree . 
 *= require jqtouch
 *= require theme
 *= require book
 */

header {
	position: absolute;
	top:0;
	left:0;
	height:100px;
	width:100%;
	background: green;
	border: solid 1px;
	
}
hgroup#logo{
	position: absolute;
	top:2px;
	left:2px;
	height:95px;
	width:200px;
	background: blue;
}
hgroup#toolbar{
	position: absolute;
	background: red;
	top:2px;
	left:240px;
	height:95px;
	width:1000px;
}
footer{
	position: absolute;
	left:0;
	top:640px;
	height:50px;
	width:100%;

	background: yellow;
}
nav{
	position: absolute;
	left:0;
	top:120px;
	height:500px;
	width:200px;
	background: grey;
}
aside{
	position: absolute;
	left:1040px;
	top:120px;
	height:500px;
	width:200px;
	background: cyan;
}
section{
	position: absolute;
	left:220px;
	top:135px;
	height:480px;
	width:800px;

	background: purple;
}
