  <footer id='about'>
    	<header>
	<a href="#" class="back">Back</a>
	</header>
<section>
Copyright ©
   <time datetime="2010-11-08">2010</time>.
  <!--% if mobile_device? %>
    < %= link_to "Full Site", :mobile => 0 %>
  < % else %>
    < %= link_to "Mobile Site", :mobile => 1 %>
  < % end %-->
  </section>
  </footer>
