%section
  #table
    #book
      #back-cover.cover.back Back cover
      #page-1.page
        .shadow>
        page 1
      #page-2.page
        .shadow>
        page 2
      #page-1.page
        .shadow>
        page 3
      #page-2.page
        .shadow>
        page 4
      #page-1.page
        .shadow>
        page 5
      #page-2.page
        .shadow>
        page 6
      #page-1.page
        .shadow>
        page 7
      #page-2.page
        .shadow>
        page 8
      #page-1.page
        .shadow>
        page 9
      #page-2.page
        .shadow>
        page 10
      #front-cover.cover.front Front cover
