
  <aside id='crud'>
  	<header>
	<a href="#" class="back">Back</a>
	</header>
    <ul>
     <li>create</li>
     <li>list</li>
     <li>update</li>
     <li>show</li>
     <li>delete</li>
   </ul>

  </aside>
